h2{
    color: rgb(173, 37, 37);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(57, 131, 106);
}